<style>
    input:invalid {
    border: 2px solid rgb(192, 0, 0);
  }
  
  
  input:valid {
    border: 2px solid black;
  }
  </style>


<form action="handle_data/°C/2/30/7" method="post">
    <input value="{{ temp[0] }}" name="low" required> -
    <input value="{{ temp[1] }}" name="high" required>°C
    
    <input type="submit">
</form>

<form action="handle_data/%RH/20/70/20" method="post">
  <input value="{{ rh[0] }}" name="low" required> -
  <input value="{{ rh[1] }}" name="high" required>%RH
  
  <input type="submit">
</form>
<!--
<form action="handle_data/CO2PPM/100///" method="post">
  <input value="{{ co2ppm[0] }}" name="low" required> -
  <input type="hidden" value="2147483648" name="high" required>%RH
  
  <input type="submit">
</form>
-->

{% with messages = get_flashed_messages() %}
  {% if messages %}

    {% for message in messages %}
      <div>{{ message }}</div>
    {% endfor %}

  {% endif %}
{% endwith %}