{% extends "base.html" %}
{% block title %}Calendar{% endblock %}
{% block header %}Calendar{% endblock %}
{% block content %}
    <!-- Body stuff goes here! -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/calendar.css') }}">
    {% if (len_dates < 1) %}
        <center><div class='note'>No upcoming dates!</div></center>
    {% endif %}
    <center>
        <input class='nav' id="prev" type='button' value="<" onclick='window.location.href += "/prev"'>
        <input class='nav' id="next" type='button' value=">" onclick='window.location.href += "/next"'>
    </center>
    <div id='calendar'>
        {% for date in dates %}
            <div class='date'>
                {{ date.pop(0) }}
                {% for event in date %}
                    <div class='event'>
                        {{ event.event_title }}
                    </div>
                {% endfor %}
            </div>
            <div class="break"></div>
        {% endfor %}
    </div>

    
{% endblock %}