{% extends "base.html" %}
{% block title %}Calendar{% endblock %}
{% block header %}Calendar{% endblock %}
{% block content %}
    <!-- Body stuff goes here! -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/calendar.css') }}">
    {% if (len_dates < 1) %}
        <center><div class='note'>No upcoming dates!</div></center>
    {% endif %}
    <div id='calendar'>
        {% for date in dates %}
            <div class='date'>
                {{ date[0].date }}
                {{ date.pop(0) }}
                {% for event in date %}
                    <div class='event'>
                        {{ event.title }}
                    </div>
                {% endfor %}
            </div>
            <div class="break"></div>
        {% endfor %}
    </div>

    
{% endblock %}

